{% extends 'base.html' %}
{% load static %}

{% block titletag %}<title>Change password form </title>{% endblock titletag %}

{% block csslinktag %}<link rel="stylesheet" href="{% static 'css/changepassword.css' %}">{% endblock csslinktag %}


{% block bodytag %}

<div class="wrapper">
    <header>
        Change Password
    </header>
    <section class="form signup">
       
        <form action="" method="POST">
            {% csrf_token %}
                <div class="field input">
                    {{form.old_password.label_tag}}
                    {% if 'old_password' in form.errors.keys %}
                    <div class="error-txt"> 
                        {{form.errors.old_password}}
                    </div>
                    {% endif %}
                    {{form.old_password}}
                    <!-- <label>Password</label>
                    <input type="password" placeholder="Password"> -->
                    <i class="fas fa-eye"></i>
                </div>
                <div class="field input">
                    {{form.new_password1.label_tag}}
                    {% if 'new_password1' in form.errors.keys %}
                    <div class="error-txt"> 
                        {{form.errors.new_password1}}
                    </div>
                    {% endif %}
                    {{form.new_password1}}
                    <!-- <label>Confirm Password</label>
                    <input type="password" placeholder="Confirm Password"> -->
                </div>
                <div class="field input">
                    {{form.new_password2.label_tag}}
                    {% if 'new_password2' in form.errors.keys %}
                    <div class="error-txt"> 
                        {{form.errors.new_password2}}
                    </div>
                    {% endif %}
                    {{form.new_password2}}
                    <!-- <label>Confirm Password</label>
                    <input type="password" placeholder="Confirm Password"> -->
                </div>
                <div class="field button">
                    <input type="submit" value="Change Password">
                </div>
            <div class="link">
                <a href="{% url 'profile' %}">Profile</a>
            </div>
        </form>
        {% if messages %}
            {% for message in messages %}
            <span>{{message}}</span>
            {% endfor %}
        {% endif %}
    </section>
</div>
<script src="{% static 'js/pass-show-hide.js' %}"></script>
{% endblock bodytag %}
